h1, p {
    text-align: center;
    color: aliceblue;
}

body {
    font-family: Verdana, serif;
    background-image: linear-gradient(90deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.8)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    padding-bottom: 50px;
}

form {
    padding: 40px;
    min-width: 400px;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(106, 106, 206, 0.8);
}

fieldset {
    border: none;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

input, textarea, select {
    width: 100%;
    min-height: 30px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: inherit;
    display: inline-block;
    margin: 5px 0;
}

textarea {
    height: 100px;
}


.inline {
    width: unset;
    vertical-align: middle;
    margin: auto;
    color: aliceblue;
}

label {
    display: block;
    /*padding: 0 20px;*/
    margin: 0 auto 10px auto;
    padding: 0;

}

.form-control {
    border: 1px solid #ced4da;
    padding: 1px 10px;
    color: rgb(100, 100, 100);
}

* {
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: darkseagreen;
    border: 1px solid darkseagreen;
    color: aliceblue;
}

input[type="submit"]:hover {
    background-color: greenyellow;
}
