h1, p {
    text-align: center;
    color: aliceblue;
}

body {
    font-family: Verdana, serif;
    background-image: linear-gradient(90deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.8)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    padding-bottom: 50px;
}

form {
    padding: 30px 0;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(106, 106, 206, 0.8);
}

fieldset{
    border: none;
    color: aliceblue;
}

input,textarea,select {
    width: 100%;
    min-height: 30px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: inherit;
}

select{
    width: 103%;
}

.form-control{
    margin: 10px 0;
    border: 1px solid #ced4da;
    padding-left: 10px;
    color: rgb(100,100,100);
}

.inline {
    width: unset;
    vertical-align: middle;
    margin: auto;
    color: aliceblue;
}

label {
    display: block;
    padding: 0 20px;
    margin-left: 15px;
    margin-right: 30px;
}

input[type="submit"] {
    display: block;
    width: 103%;
    background-color: darkseagreen;
    border: 1px solid darkseagreen;
    color: aliceblue;
}

input[type="submit"]:hover{
    background-color: greenyellow;
}
